@using FinalMockIdentityXCountry.Models.ViewModels.RunnerAreaViewModels
@model EditLoggedDataViewModel

<div class="container mx-auto">
    <h3>Edit your data for this practice.</h3>
    <form method="post">
        <div>
            <p>Start Date/Time: @Model.PracticeStartDateTime</p>
            <p>Location: @Model.PracticeLocation</p>
            <p>Workout: @Model.WorkoutName</p>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-text">Distance (in miles):</span>
            <input asp-for="@Model.Distance" class="form-control" aria-label="distance" />
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-text">Time (Hours:Minutes:Seconds)</span>
            <input asp-for="@Model.Hours" class="form-control" aria-label="hours" />
            <input asp-for="@Model.Minutes" class="form-control" aria-label="minutes" />
            <input asp-for="@Model.Seconds" class="form-control" aria-label="seconds" />
        </div>
        <input type="hidden" asp-for="@Model.WorkoutInformationId" />
        <input type="hidden" asp-for="@Model.PracticeId" />
        <input type="hidden" asp-for="@Model.RunnerId" />
        <br />
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        
    </form>
</div>
