@using FinalMockIdentityXCountry.Models.ViewModels.RunnerAreaViewModels
@model List<SelectAPracticeViewModel>

<div class="container mx-auto">
    <h3>My Workouts</h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col">Start Date/Time</th>
                    <th class="col">Location</th>
                    <th class="col">Workout</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var workoutInfo in Model)
                    {

                        <tr>
                            <td>@workoutInfo.PracticeStartTimeAndDate</td>
                            <td>@workoutInfo.PracticeLocation</td>
                            <td>@workoutInfo.WorkoutName</td>
                            <td>
                                @if (workoutInfo.DataWasLogged == false)
                                {
                                    <a asp-action="LogData" asp-route-workoutInfoId="@workoutInfo.WorkoutInformationId" asp-route-practiceId="@workoutInfo.PracticeId" class="btn btn-primary">Log Data</a>
                                    
                                }
                                else if (workoutInfo.DataWasLogged)
                                {
                                    <a asp-action="EditLoggedData" asp-route-workoutInfoId="@workoutInfo.WorkoutInformationId" asp-route-practiceId="@workoutInfo.PracticeId" class="btn btn-warning">Edit Logged Data</a>
                                    
                                }
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
        @*@if (Model.Count > 0)
        {
            @foreach (var workoutInfo in Model)
            {
                
                <div>
                    <label>Date:@workoutInfo.PracticeStartTimeAndDate &nbsp; Location:@workoutInfo.PracticeLocation &nbsp; Workout:@workoutInfo.WorkoutName &nbsp;</label>
                
                    @if (workoutInfo.DataWasLogged == false)
                    {
                        <a asp-action="LogData" asp-route-workoutInfoId="@workoutInfo.WorkoutInformationId" asp-route-practiceId="@workoutInfo.PracticeId" class="btn btn-primary">Log Data</a>
                        <br /><br /><br />
                    }
                    else if(workoutInfo.DataWasLogged)
                    {
                        <a asp-action="EditLoggedData" asp-route-workoutInfoId="@workoutInfo.WorkoutInformationId" asp-route-practiceId="@workoutInfo.PracticeId" class="btn btn-warning">Edit Logged Data</a>
                        <br /><br /><hr />
                    }

                </div>
            
            }
        }*@    
    </div>
</div>
    