@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model AddReplyToThreadCommentViewModel

<div class="container mx-auto">
    <div>
        <p>Reply to: @Model.OriginalMessageBoardResponse by @Model.OriginalMessageBoardResponseAuthorName at @Model.OriginalMessageBoardResponseDateTime</p>
        <br />
        <br />
    </div>

    <form method="post">
        <label asp-for="@Model.NewReplyToMessageBoardResponse" class="form-label" for="threadReply">Your Response: </label>
        <input asp-for="@Model.NewReplyToMessageBoardResponse" class="form-control" id="threadReply" required/>
        <span asp-validation-for="@Model.NewReplyToMessageBoardResponse" class="text-danger"></span>
        <input type="hidden" asp-for="@Model.OriginalMessageBoardResponseId" />
        <input type="hidden" asp-for="@Model.NewReplyerId" />
        <br />
        <a asp-action="Home" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Add Reply</button>
    </form>
</div>
