@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model ViewThreadViewModel

<div class="container mx-auto">
    <div>
        <p style="font-weight: lighter;">
            Created on @Model.MessageBoardPublishedDateTime by @Model.MessageBoardsAuthorName
        </p>
        <br />
        <h3>@Model.MessageBoardTitle</h3>
        <br />
        <p>@Model.MessageBoardBody</p>
        <a asp-action="AddThreadComment" asp-route-messageBoardId="@Model.MessageBoardId" class="btn btn-primary">Comment</a>
    </div>

    @if (Model.DatabaseMessageBoardResponses != null && Model.DatabaseMessageBoardResponses.Count() > 0)
    {
        <br />
        <hr />
        @foreach (var response in Model.DatabaseMessageBoardResponses)
        {
            <div>

                <p>@response.MessageBoardResponse</p>
                <p style="font-weight: lighter;">By @response.MessageBoardRespondersName at @response.MessageBoardResponseDateTime</p>
                <br>
                <a class="btn btn-primary" asp-action="ThreadCommentReplies" asp-route-messageBoardResponseId="@response.MessageBoardResponseId">View Thread</a>
                <br>

            </div>
            <hr />
        }
    }
</div>

