@*@    using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels;
    using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.Delete
@model List<RecordWorkoutsViewModel>
 
@if (TempData.Keys.Contains("RecordRunnersWorkoutPracticeLocation") && TempData.Keys.Contains("RecordRunnersWorkoutStartTime"))
{
    string practiceLocation = TempData.Peek("RecordRunnersWorkoutPracticeLocation").ToString();
    string practiceDate = TempData.Peek("RecordRunnersWorkoutStartTime").ToString();

    string locationAndDateStringFormatted = $" {practiceLocation}   {practiceDate}";
    <label>Practice information</label>
    <input disabled="disabled" value="@locationAndDateStringFormatted" class="text-body" size="60%"/>
}

<div class="form">
    <form method="post"> 
        <table class="table">
            <thead>
                <tr>
                    <th>Runner</th>
                    <th>Select workout(s)</th>
                </tr>   
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <td>@Model[i].RunnersName</td>
                    <tr>
                        @for (int j = 0; j < Model[i].WorkoutSelections.Count; j++)
                        {
                            <td>
                                <label>@Model[i].WorkoutSelections[j].WorkoutName</label>
                                <input asp-for="@Model[i].WorkoutSelections[j].WorkoutIsSelected"/>
                                <input type="hidden" asp-for="@Model[i].WorkoutSelections[j].WorkoutTypeId">
                                <input type="hidden" asp-for="@Model[i].WorkoutSelections[j].PracticeId">
                                <input type="hidden" asp-for="@Model[i].WorkoutSelections[j].RunnerId">
                                <input type="hidden" asp-for="@Model[i].WorkoutSelections[j].WorkoutDateTime">
                            </td>
                        }
                    </tr>
                }*@
                    @*@for (int i = 0; i < Model.Count; i++)
                    {
                        <td>@Model[i].RunnersName</td>
                        <tr>
                            @for (int J = 0; J < Model[i].WorkoutSelections.Count; J++)
                            {  
                                <td>
                                    <label>"@Model[i].WorkoutSelections[J].WorkoutName"</label>
                                    <input asp-for="@Model[i].WorkoutSelections[J].WorkoutIsSelected"> 
                                    <input type="hidden" asp-for="@Model[i].WorkoutSelections[J].WorkoutTypeId"/>
                                </td>  
                            }
                        </tr> 
                    } *@
               @* @foreach (var runner in Model)
                {
                    <tr>
                        <td>@runner.RunnersName</td>
                        @for (int i = 0; i < runner.WorkoutSelections.Count; i++)
                        {
                            <input type="checkbox" asp-for="@runner.WorkoutSelections[i].WorkoutIsSelected"/>
                            <label asp-for="@runner.WorkoutSelections[i].WorkoutIsSelected"></label>
                            <input type="hidden" asp-for="@runner.WorkoutSelections[i].WorkoutTypeId"/>
                            <input type="hidden" asp-for="@runner.WorkoutSelections[i].WorkoutName"/>
                            <input type="hidden"/>
                        }
                    </tr>  
                }*@
            @*</tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>*@