@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model AddNewWorkoutsToPracticeViewModel

<div class="container mx-auto">
    <h3>Add new workout(s) for @Model.RunnerName</h3>
    <p style="font-weight: lighter;">@Model.PracticeStartDateTime | @Model.PracticeLocation</p>
    <br />

    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Workout</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.SelectedNewWorkoutCheckboxOptions != null && Model.SelectedNewWorkoutCheckboxOptions.Count() > 0)
            {
                for (int i = 0; i < Model.SelectedNewWorkoutCheckboxOptions.Count; i++)
                {
                <tr>
                    <td class="form-check">
                        <input asp-for="@Model.SelectedNewWorkoutCheckboxOptions[i].IsSelected" type="checkbox" class="form-check-input"/> @Model.SelectedNewWorkoutCheckboxOptions[i].WorkoutName
                        <input type="hidden" asp-for="@Model.PracticeId">
                        <input type="hidden" asp-for="@Model.RunnerId">
                        <input type="hidden" asp-for="@Model.SelectedNewWorkoutCheckboxOptions[i].RunnerId">
                        <input type="hidden" asp-for="@Model.SelectedNewWorkoutCheckboxOptions[i].PracticeId">
                        <input type="hidden" asp-for="@Model.SelectedNewWorkoutCheckboxOptions[i].WorkoutName">
                        <input type="hidden" asp-for="@Model.SelectedNewWorkoutCheckboxOptions[i].WorkoutTypeId">
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
        <a class="btn btn-danger" asp-action="EditWorkoutData" asp-route-runnerId="@Model.RunnerId">Cancel</a>
        <button class="btn btn-primary">Save Changes</button>
    </form>
</div>
