@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model List<EditWorkoutDataViewModel>

<div class="container mx-auto">
    @if (Model.FirstOrDefault()?.RunnerName != null)
    {
        <label>@Model.FirstOrDefault()?.RunnerName Practice Workout Data</label>
    }

    @if (Model != null && Model.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Workouts</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>@data.PracticeStartTime</td>
                            <td>@data.PracticeLocation</td>

                            @if (data.Workouts != null && data.Workouts.Count() > 0)
                            {
                                <td>
                                    @foreach (var workout in data.Workouts)
                                    {
                                        @workout <br />
                                    }
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td><a asp-action="AddNewWorkoutsToPractice" asp-route-runnerId="@data.RunnerId" asp-route-practiceId="@data.PracticeId" class="btn btn-link">Add workout(s) to practice</a></td>
                            @if (data.ShowReadDeleteButtons)
                            {
                                <td><a asp-action="DeleteWorkoutsFromPractice" asp-route-runnerId="@data.RunnerId" asp-route-practiceId="@data.PracticeId" class="btn btn-link" class="btn btn-link">Delete workout(s) from practice</a></td>
                                <td><a asp-action="ViewDataEntered" asp-route-runnerId="@data.RunnerId" asp-route-practiceId="@data.PracticeId" class="btn btn-link">View/Edit data entered</a></td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    }
</div>
