@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model EditEnteredDataViewModel

<form method="post">
    <div>
        <label class="form-label">Runner: </label>
        <input class="form-control" disabled="disabled" asp-for="@Model.RunnerName" value="@Model.RunnerName"/>
    </div>
    <div>
        <label class="form-label" asp-for="WorkoutName">Workout:</label>
        <input class="form-control" disabled="disabled" asp-for="WorkoutName" value="@Model.WorkoutName" />
    </div>
    <div>
        <label class="form-label" asp-for="Distance">Distance:</label>
        <input class="form-control" asp-for="Distance" />
    </div>
    <div>
        <label class="form-label" asp-for="Hours">Hours:</label>
        <input class="form-control" asp-for="Hours" />
    </div>
    <div>
        <label class="form-label" asp-for="Minutes">Minutes:</label>
        <input class="form-control" asp-for="Minutes" />
    </div>
    <div>
        <label class="form-label" asp-for="Seconds">Seconds:</label>
        <input class="form-control" asp-for="Seconds" />
    </div>
    <input type="hidden" asp-for="@Model.WorkoutInformationId"/>
    <input type="hidden" asp-for="@Model.RunnerName" />
    <input type="hidden" asp-for="@Model.WorkoutName" />
    <a class="btn btn-danger" asp-action="RunnerPracticeWorkoutData">Cancel Edit</a>
    <button class="btn btn-primary">Save Changes</button>
</form>