@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.DataController
@model List<CurrentPracticeWorkoutDataViewModel>

<div class="container mx-auto">
    <h3>Finished Practices</h3>
    <a asp-action="CurrentPracticeWorkoutData" class="btn btn-link">Switch to practices in progress.</a>
    <br />
    @if (Model != null && Model.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <td>@practice.PracticeDateTime</td>
                        <td>@practice.PracticeLocation</td>
                        <td>@practice.TotalRunners</td>
                        @if (practice.TotalRunners > 0)
                        {
                            <td><a asp-action="SelectRunnerFromPastPractices" asp-route-practiceId="@practice.PracticeId" class="btn btn-primary">Select Practice</a></td>
                        }
                        <td></td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var practice in Model)
                    {
                        <tr>
                            <td>@practice.PracticeDateTime</td>
                            <td>@practice.PracticeLocation</td>
                            <td>@practice.TotalRunners</td>
                            <td><a asp-action="SelectRunnerFromPractice" asp-route-practiceId="@practice.PracticeId" class="btn btn-primary">Select Practice</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    }
</div>
