@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels.MasterAdminControllerViewModels
@model MasterAdminPanelViewModel

<div class="container mx-auto">
    <h3>Administrator Panel</h3>
    <p style="font-weight: lighter;">Your Role: @Model.MasterAdminPanelRole</p>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="newUsersDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            See New Users...
        </a>

        <ul class="dropdown-menu" aria-labelledby="newUsersDropdown">
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="WaitingForApprovalList">Approve New Users</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="RejectUsers">Reject New Users</a></li>
        </ul>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Current Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        @if (Model.MasterAdminPanelViewModelHelpers != null && Model.MasterAdminPanelViewModelHelpers.Count > 0)
        {
            
                <tbody>
                    @foreach (var user in Model.MasterAdminPanelViewModelHelpers)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.UserName</td>
                            <td>@user.UserRole</td>
                            <td><a class="btn btn-primary" asp-route-userId="@user.UserId" asp-route-currentRoleName="@user.UserRole" asp-action="ChangeUserRole">Change Role</a></td>
                            <td><a class="btn btn-primary" asp-route-userId="@user.UserId" asp-action="EditUser">Edit User</a></td>
                            <td><a class="btn btn-danger" asp-route-userId="@user.UserId" asp-action="DeleteUser">Delete User</a></td>
                        </tr>
                    }
                </tbody>
            
        }
        </table>
    </div>
    
</div>
