@using FinalMockIdentityXCountry.Models.ViewModels.RunnerAreaViewModels
@model CurrentPracticesViewModel

<div>
    <h3>My Practices</h3>
    <br />
    <div>
        @foreach (var runner in Model.CurrentPracticesViewModelsHelper)
        {
            <label>@runner.PracticeStartTimeAndDate @runner.PracticeLocation</label>
            @if (runner.IsPresent && runner.HasBeenSignedOut == false)
            {
                <a asp-action="SignOutOfPractice" asp-route-runnerId="@runner.RunnerId" asp-route-practiceId="@runner.PracticeId" class="btn btn-danger">Sign Out</a>
                <br /><br /><br />
            }
            else if (!runner.IsPresent && runner.HasBeenSignedOut == false)
            {
                <a asp-action="JoinPractice" asp-route-runnerId="@runner.RunnerId" asp-route-practiceId="@runner.PracticeId" class="btn btn-primary">Join</a>
                <br />

                <br />

                <br />
            } 
            else if (runner.HasBeenSignedOut)
            {
                <button disabled class="btn alert-danger">Complete</button> <br />

                <br />

                <hr />
            }
        }
    </div>
</div>