@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model AddReplyToThreadCommentViewModel

<div class="container mx-auto">
    <div>
        <p>Reply to: @Model.MessageBoardResponse.Response </p>
        <p style="font-weight: lighter;">@Model.MessageBoardResponse.ResponseDateTime</p>
        <br />
    </div>
    <form method="post">
        <label asp-for="@Model.NewReplyToMessageBoardResponse.Reply" class="form-label" for="threadReply">Your Response: </label>
        <input asp-for="@Model.NewReplyToMessageBoardResponse.Reply" class="form-control" id="threadReply" />
        <input type="hidden" asp-for="@Model.NewReplyToMessageBoardResponse.MessageBoardResponseId" />
        <input type="hidden" asp-for="@Model.NewReplyToMessageBoardResponse.ReplyerId" />
        <br />
        <a asp-action="Home" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Add Reply</button>
    </form>
</div>
