@model List<MessageBoard>

<div class="container mx-auto">
    <div class="clearfix">
        <div class="col-md-6 float-md-end mb-3 ms-md-3" >
            <section>
                <h2>Cross Country Forum</h2>
                <p>This forum is strictly moderated. All posts and replies must follow guidelines according to the Evans High School communications policy.</p>
                <a class="btn btn-primary float-end" asp-action="CreateThread">Create new thread</a>

            </section>
        </div>
        <br />
        <br />
        <br>
        <div class="">
            <section>
        @foreach(var thread in Model)
        {
            <br />
            <br />
            <br />
            <div>
                <h5>@thread.MessageTitle</h5>
                <p>@thread.MessageBody</p>
                <p style="font-weight: lighter;">Created on @thread.PublishedDateTime</p>
                <br>
                
                <a class="btn btn-primary" asp-action="ViewThread" asp-route-messageBoardId="@thread.Id">View Thread</a>
                <a class="btn btn-danger float-end" asp-action="DeleteThread" asp-route-messageBoardId="@thread.Id">Delete Thread</a>
            </div>
            <hr />
            <br />
            }
            </section>
        </div>
        
    </div>
    </div>
