@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model ViewThreadViewModel

<div class="container mx-auto">
    <div>
        <p style="font-weight: lighter;">
            Created on @Model.MessageBoard.PublishedDateTime
        </p>
        <br />
        <h3>@Model.MessageBoard.MessageTitle</h3>
        <br />
        <p>@Model.MessageBoard.MessageBody</p>
        <a asp-action="AddThreadComment" asp-route-messageBoardId="@Model.MessageBoard.Id" class="btn btn-primary">Comment</a>
    </div>

    @if (Model.DatabaseMessageBoardResponses.Count() > 0)
    {
        <br />
        <hr />
        @foreach (var response in Model.DatabaseMessageBoardResponses)
        {
            <div>

                <p>@response.Response</p>
                <p style="font-weight: lighter;">By <!--Add comment author--> at @response.ResponseDateTime</p>
                <br>
                <a class="btn btn-danger" asp-action="DeleteThreadComment" asp-route-messageBoardResponseId="@response.Id">Delete</a>
                <a class="btn btn-primary" asp-action="ThreadCommentReplies" asp-route-messageBoardResponseId="@response.Id">View Thread</a>
                <br>

            </div>
            <hr />
        }
    }
</div>

 