@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels
@model ViewThreadViewModel

<div>
    <p style="font-weight: lighter;">
        Created on @Model.MessageBoard.PublishedDateTime</p>
   <br />
   <h3>@Model.MessageBoard.MessageTitle</h3>
   <br />
   <p>@Model.MessageBoard.MessageBody</p>
    <a asp-action="AddThreadComment" asp-route-messageBoardId="@Model.MessageBoard.Id" class="btn btn-primary">Comment</a>
</div>

@if (Model.DatabaseMessageBoardResponses.Count() > 0)
{
    <br />
    <br />
    <hr />
    @foreach (var response in Model.DatabaseMessageBoardResponses)
    {
        <div>
            <h1>@response.ResponseDateTime</h1>
            <label>@response.Response</label>
            <a class="btn btn-danger" asp-action="DeleteThreadComment" asp-route-messageBoardResponseId="@response.Id">Delete thread comment</a>
            <a class="btn btn-primary" asp-action="ThreadCommentReplies" asp-route-messageBoardResponseId="@response.Id">View replies/Add a reply</a>  
        </div>
        <hr />
    }
}
 