@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.CurrentPracticeController
@model AddRunnerToCurrentPracticeViewModel

@if (Model != null)
{
    <div class="container mx-auto">
        <h3>Add runners to practice @Model.PracticeStartTimeAndDate | @Model.PracticeLocation</h3>
        <form method="post" asp-action="AddRunnerToCurrentPractice" class="form-control">
            @if (Model.SelectedCheckboxOptions != null && Model.SelectedCheckboxOptions.Count > 0)
            {

          <div class="table-responsive">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Add to attendance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.SelectedCheckboxOptions.Count(); i++)
                        {
                            <tr>
                                <td>@Model.SelectedCheckboxOptions[i].RunnersName</td>
                                <td><input asp-for="@Model.SelectedCheckboxOptions[i].IsSelected" type="checkbox"/></td>
                                <input type="hidden" asp-for="@Model.SelectedCheckboxOptions[i].RunnerId">
                                <input type="hidden" asp-for="@Model.SelectedCheckboxOptions[i].PracticeId">
                            </tr>
                        }
                    </tbody>
                </table>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button> 
            } 
        </form>
    </div>
}
else
{
    <label class="form-label">No runners were found with the provided data. Confirm that a runner exists in the database and the runner is not marked as present.</label>
    <br />
    <a asp-action="Index" class="btn btn-primary">Okay</a>
}
