@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels
@model EditRunnerDataViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.UserName</td>
            <td><a class="btn btn-outline-danger" asp-action="EditRunnerName" asp-route-runnerId="@Model.UserId">Edit Runner's Name</a></td>
            <td><a class="btn btn-outline-danger" asp-action="EditRunnerUserName" asp-route-runnerId="@Model.UserId">Edit Runner's UserName</a></td>
            <td><a class="btn btn-outline-danger" asp-action="ChangeUserPassword" asp-route-userId="@Model.UserId">Change Password</a></td>
            <td><a class="btn btn-outline-danger" asp-action="ChangeRunnerRole" asp-route-runnerId="@Model.UserId">Change Role</a></td>
            <td><a class="btn btn-outline-danger" asp-action="" asp-route-runnerId="@Model.UserId">Delete Permanently</a></td>
        </tr>
    </tbody>
</table>