@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels
@model List<WaitingForApprovalListViewModel>

<div class="container mx-auto">
    <h3>Users Waiting For Approval</h3>
    <form method="post" asp-action="AddToRunner" class="form-control">
    @if (Model != null && Model.Count > 0)
    {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Approve User</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td scope="row">@Model[i].Name</td>
                            <td scope="row">@Model[i].UserName</td>
                            @if (Model[i].SelectedApproveUserCheckboxOptions != null && Model[i].SelectedApproveUserCheckboxOptions.Count > 0)
                            {
                                @for (int j = 0; j < Model[i].SelectedApproveUserCheckboxOptions.Count(); j++)
                                {
                                    <td>
                                        <input asp-for="@Model[i].SelectedApproveUserCheckboxOptions[j].IsSelected" type="checkbox" />
                                        <input type="hidden" asp-for="@Model[i].UserId" />
                                        <input type="hidden" asp-for="@Model[i].RoleId" />
                                        <input type="hidden" asp-for="@Model[i].SelectedApproveUserCheckboxOptions[j].UserId" />
                                        <input type="hidden" asp-for="@Model[i].SelectedApproveUserCheckboxOptions[j].RoleId" />
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">Submit</button>
        
    }
    else
    {
        <label class="form-label">There are no users waiting for approval.</label>
        <br />
        <a asp-action="Index" class="btn btn-primary">Okay</a>
    }
        </form>
</div>
    