@using FinalMockIdentityXCountry.Models.ViewModels.CoachAreaViewModels.PracticeHistoryController
@model SelectedViewModel
<button>Export all practice data</button>
@if (Model.SelectedViewModelHelpers == null)
{
    //Export the practice information only (location, start time, end time)
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Present</th>
                <th scope="col">Location</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Workouts</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
              @foreach (var vmHelper in Model.SelectedViewModelHelpers)
              {
                <tr>
                    <td>@vmHelper.RunnerName</td>
                    <td>@Model.PracticeLocation</td>
                    <td>@Model.PracticeStartTime</td>
                    <td>@Model.PracticeEndTime</td>
                    @if (vmHelper.Workouts != null)
                    {
                        <td>
                        @foreach (var workout in vmHelper.Workouts)
                        {
                            @workout<br />
                        }
                        </td>
                    } 
                    <td>Export</td>
                </tr>  
              }
        </tbody>
    </table>
}