@using FinalMockIdentityXCountry.Models.ViewModels.AdminAreaViewModels.CoachControllerViewModels
@model CoachAdminPanelViewModel

<label class="form-label">Admin Panel | Your Role: @Model.CoachAdminPanelRole</label>

@if (Model.CoachAdminPanelViewModelViewHelpers != null && Model.CoachAdminPanelViewModelViewHelpers.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">UserName</th>
                <th scope="col">Current Role</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.CoachAdminPanelViewModelViewHelpers)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.UserName</td>
                    <td>@user.UserRole</td>
                    <td><a asp-route-userId="@user.UserId" asp-route-currentRoleName="@user.UserRole" asp-action="ChangeUserRole">Change Role</a></td>
                    <td><a asp-route-userId="@user.UserId" asp-action="EditUser">Edit User</a></td>
                    <td><a asp-route-userId="@user.UserId" asp-action="DeleteUser">Delete User</a></td>
                </tr>
            }
        </tbody>
    </table>
}